<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>

<script type="text/javascript" 
src="E:\001\MyProjectsForEclipse\flight\src\main\resources\static\js\jquery-3.2.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>

<script type="text/javascript" 
src="E:\001\MyProjectsForEclipse\flight\src\main\resources\static\js\bootstrap.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

<link rel="stylesheet" 
href="E:\001\MyProjectsForEclipse\flight\src\main\resources\static\css\bootstrap.min.css"> 
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
<h1>用户中心</h1>
<hr>
	
		<div class="photo">
			<img th:if="${session.user} != null" th:src="@{${session.user.fileurl}}" width="100px">
		</div>
			<p th:text="|欢迎您, ${session.user.username}!|"></p>
			<p th:text="|电话号, ${session.user.phone}!|">
			<p th:text="|邮箱, ${session.user.email}!|">
		<div>
			<a href="goUserUpdate">修改信息</a>&nbsp;
			<a href="goListCard">查看证件</a>&nbsp;
			<a href="/historicalOrder" th:text="查询历史订单"></a>
</a>
		</div>
			
</div>
</body>
</html>