<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
		
	</head>
	<frameset rows="10%,*" frameborder="0" framespacing="0">
		<frame src="/manageTop" name="topFrame"/>
		<frameset cols="12%,*">
			<frame src="/manageLeft" name="leftFrame" noresize="noresize"/>
			<frame src="/listAirport" name="rightFrame" />
		</frameset>
		<noframes>
			<body>
				浏览器不支持框架！
			</body>
		</noframes>
	</frameset>
</html>
