<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<style type="text/css">
			*{
				list-style: none;
			}
			ul{
				margin-top: 78px;
			}
		</style>
	</head>
	<body>
	<ul>
		<li><a href="/listAirport" target="rightFrame">机场管理</a></li>
		<li><a href="/listAircraft" target="rightFrame">航班管理</a></li>
		<li><a href="/listUser" target="rightFrame">用户管理</a></li>
		<li><a href="/goOrderManage" target="rightFrame">订单管理</a></li>
		<li><a href="/goTicketManage" target="rightFrame">机票管理</a></li>
	</ul>
	</body>
</html>
