<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
		<script type="text/javascript" 
src="E:\001\MyProjectsForEclipse\flight\src\main\resources\static\js\jquery-3.2.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>


<link rel="stylesheet" 
href="E:\001\MyProjectsForEclipse\flight\src\main\resources\static\css\bootstrap.min.css"> 
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	</head>
	<body>
		
		<h1>管理</h1>
		<hr>
	</body>
</html>
